@font-face {
  font-family: "HelveticaNeueLTArabic";
  src: url("../fonts/HelveticaNeueLTArabic-Roman.ttf"); 
}
@font-face {
  font-family: "HelveticaNeueLTArabic-b";
  src: url("../fonts/HelveticaNeueLTArabic-bold.ttf"); 
}

/* seeting fonts */
*{
    font-family:  "HelveticaNeueLTArabic";
}
/* change setting of navbar */
html #header.header-semi-transparent .header-body:before, html #header.header-semi-transparent-light .header-body:before {
    background: #000;
    opacity: 0.7;
}
/* change nav element color on hover */
#header .header-nav.header-nav-stripe nav > ul > li:hover > a, #header .header-nav.header-nav-stripe nav > ul > li:hover > a.active, #header .header-nav.header-nav-stripe nav > ul > li.open > a, #header .header-nav.header-nav-stripe nav > ul > li.open > a.active {
    color: #fff;
    padding-bottom: 0;
}
/* change nav element color */
html #header.header-semi-transparent .header-nav-main nav > ul > li > a {
    color: #e4cc4d;
}
/* change icon color */
.social-icons li a {
    color: #e4cc4d!important;
    }

.social-icons li:hover.social-icons-facebook a {
    background: #e4cc4d;
}

.social-icons li:hover.social-icons-twitter a {
    background: #e4cc4d;
}

.social-icons li:hover.social-icons-linkedin a {
    background: #e4cc4d;
}
@media (min-width: 992px){
    /* margin setting for nav tabs */ 
#header .header-nav.header-nav-stripe nav > ul > li > a {
        margin: 0 0 0;
   margin-left: 10px;
}
    /* change font size */
#header .header-nav-main nav > ul > li > a {
    font-size: 15px;
}
    
}
.space{
    width: auto;
    height: 102px;
    background-color: #d3d3d3;
}
@media (max-width: 991px){
#header.header-transparent .header-nav-main:before, #header.header-semi-transparent .header-nav-main:before, #header.header-semi-transparent-light .header-nav-main:before {
    width: 100vw;
    border-radius: 0;
}
#header .header-nav-main nav > ul li a {
    text-align: right;
    }
#header.header-transparent .header-nav-main nav, #header.header-semi-transparent .header-nav-main nav, #header.header-semi-transparent-light .header-nav-main nav {
    padding: 0 0;
}
    html #header.header-semi-transparent .header-body:before, html #header.header-semi-transparent-light .header-body:before {

	height: 102px;
    }}

.custom-section{
    background-color: #fff;
    border-color: #fff;
}
.custom-p{
    color:#343434;
}
.custom-link{
   color:#e4cc4d;
   
}
.bold-link{
    font-family: "HelveticaNeueLTArabic-b"; 
}

.btn-custom {
	background-color: #e4cc4d;
	border-color: #e4cc4d #e4cc4d #ddbf21;
	color: #fff;
}

.btn-custom :hover,
.btn-custom .hover {
	background-color: #e9d66e;
	border-color: #ebd979 #ebd979 #e4cc4d;
	color: #fff;
}

.btn-custom :focus,
.btn-custom .focus {
	box-shadow: 0 0 0 3px rgba(228, 204, 77, 0.5);
}

.btn-custom .disabled,
.btn-custom :disabled {
	background-color: #e4cc4d;
	border-color: #e4cc4d #e4cc4d #ddbf21;
}